/* Fontes */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

/* Cores */
:root {
  --cor-principal: #4e4e4e;
  --cor-secundaria: #ffac2f;
  --cor-fundo: #f2f2f2;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.dark-mode {
  background-color: #181717;
}
.dark-mod {
  background-color: #161b22;
}
/* Formulário */
body {
  background-color: #ececdb;
}

section {
  margin: 50px auto;
  max-width: 500px;
  background-color: rgb(235, 230, 210);
  box-shadow: 1.5px 1.5px 5px #2b2a2a, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #393636, inset 0px -0px 0px #5f5e5e;
  padding: 40px;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
}


input[type="text"],
input[type="tel"],
input[type="email"],
select {
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--cor-fundo);
  color: var(--cor-principal);
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 8px 30px rgba(0, 0, 0, 0.1);
}
input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
select option:first-child {
  color: #212020;
  font-style: italic;
  font-size: large;
}
input[type="text"].input-focus::placeholder,
input[type="tel"].input-focus::placeholder,
input[type="email"].input-focus::placeholder {
  transition: all 0.3s ease-out;
  transform: translate(-5px);
  font-size: 0px;
}

input[type="text"].input-focus::-webkit-input-placeholder,
input[type="tel"].input-focus::-webkit-input-placeholder,
input[type="email"].input-focus::-webkit-input-placeholder,
select.input-focus::-webkit-input-placeholder option:first-child {
  transition: all 0.3s ease-out;
  transform: translate(-120px);
  font-size: 0px;
}
/* Estilo para o tema padrão */
h1 {
  color: rgb(110, 107, 100);
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


.btn-enviar {
  background-color: blue;
  color: white;
}

/* Estilo para o tema escuro */
.dark-mode h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(159, 157, 157, 0.3);
}

.dark-mode input[type="text"]:focus,
.dark-mode input[type="tel"]:focus,
.dark-mode input[type="email"]:focus,
.dark-mode select:focus {
  outline: none;
  box-shadow: 0px 0px 6px rgb(255, 255, 255);
}

.dark-mode label {
  color: white;
}

.dark-mode .btn-enviar {
  background-color: rgb(190, 3, 3);
  color: white;
}
.dark-mode .btn-enviar:hover {
  background-color: #3e1e1e;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 7px rgb(178, 149, 149);
}
select option:first-child {
  color: #515151;
  font-style: italic;
}
.btn-enviar {
  background-color: var(--cor-secundaria);
  border: none;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-enviar:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.btn-enviar:active {
  transform: translateY(2px);
  box-shadow: none;
}

@media (max-width: 767px) {
  .btn-enviar {
    font-size: 16px;
    padding: 10px 20px;
  }
}

/* Mensagem de erro */
#error-msg {
  display: none;
  background-color: #ffaca6;
  color: #2f2f2f;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#error-msg.show {
  display: block;
}

/* Responsividade */
@media (max-width: 768px) {
  section {
    margin: 10px;
    padding: 30px;
  }
  html {
    margin: auto 0;
  }
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}
